.divInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputText {
    border-radius: 10px;
    border: var(--blue) 0 solid;
    padding: 0 0.5em;
    transition: all 0.3s ease-in-out;
    height: calc(100% - 12px);
    width: calc(100% - 12px - 1em);
    font-size: 1.25em;
    color: var(--white);
    background: var(--blue);
}

.inputText::placeholder {
    color: var(--white);
}

.inputText:focus {
    border-width: 6px;
    outline: none;
}
