.inputText {
    background: #f0b28680;
    border-radius: 10px;
    border: #f0b286 0 solid;
    font-size: 1em;
    padding: 0 0.5em;
    height: calc(100% - 12px);
    width: calc(100% - 12px - 1em);
    transition: all 0.3s ease-in-out;
}

.inputText::placeholder {
    color: #6c3106;
}

.inputText:focus {
    border-width: 6px;
    outline: none;
}

.divInput {
    display: flex;
    justify-content: center;
    align-items: center;
}