.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 10px;
    border:  0 ;
    padding: 0.5em;
    transition: all 0.2s ease;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    min-width: 3em;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2,1.1);
}

.magenta {
    background-color: var(--magent);
    color: var(--white);
}

.magenta:hover {
    color: var(--black);
}

.lime {
    background-color: var(--lime);
    color: var(--black);
}

.lime:hover {
    color: var(--white);
}

.blue {
    background-color: var(--blue);
    color: var(--white);
}

.blue:hover {
    color: var(--black);
}
