.text {
  height: 3em;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 0 1.5em;
  font-size: 1.5rem;
  line-height: 1em;
  width: calc(100% - 3em - 8px);
  display: grid;
  grid-template-columns: 1fr  auto;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.text:hover {
  transform: scale(1.1, 1.1);
}

.actions {
  height: 60%;
  display: flex;
  gap: 20%;
}


