.formInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
    width: 100%;
}

.inputText {
    resize: none;
    width: 75%;
    border: none;
    border-radius: 10px;
    min-height: 50vh;
    background-color: var(--lightBlue);
    padding: 1.5em;
    font-size: 1em;
    text-align: justify;
}

.inputText:focus {
    outline: none;
}

.inputText::placeholder {
    color: var(--black);
    font-size: 1.5em;
}

.operations {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}