.spanList {
    display: flex;
    gap: 10px;
    padding: 3% 5%;
    border-radius: 10px;
    border: #f0b286 solid 4px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 4vh;
    min-width: 50%;
    font-weight: 800;
}

.span {
    color: #000000;
    transition: opacity 0.3s ease, color 0.6s ease;
}

.span:hover {
    opacity: 0.5;
}

.isTrue {
    color: #167316;
}

.isFalse {
    color: #FF0000;
}