.spanList {
  display: flex;
  gap: 0.5em;
  padding: 0 2em;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 1em;
  font-size: 1.2rem;
}

.spanList span:hover {
  color: var(--magent);
  transform: scaleX(1.1);
}