.isActive {
    text-decoration: line-through;
    opacity: 0.7;
}

.isActive:hover {
    opacity: 1;
    text-decoration: none;
}

.buttonList {
    display: flex;
    gap: 10px;
    padding: 3% 5%;
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 50%;
    background-color: var(--lightBlue);
}

.buttonList button {
    width: 100%;
}

.buttonList button:hover {
    opacity: 0.9;
    transform: scale(1.1, 1.1);
}