.buttonList {
  display: flex;
  gap: 1em;
  padding: 2em;
  border-radius: 1em;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--lightBlue);
}

.buttonList button:hover {
  opacity: 0.9;
  transform: scale(1.1, 1.1);
}

.isActive {
  text-decoration: line-through;
  opacity: 0.6;
  color: var(--black);
  transform: scale(0.9, 0.9);
}

.isActive:hover {
  text-decoration: none;
  color: var(--white);
}