.header {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.text {
  text-align: center;
  background-color: var(--lightBlue);
  color: var(--black);
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  min-width: 40%;
}