.playField {
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.original {
  background-color: var(--blue);
  padding: 1em 2.5em;
  border-radius: 1em;
  /*font-weight: 500;*/
  flex-wrap: wrap;
  display: flex;
  gap: 0.625em;
  list-style: none;
}

