body {
  background-color: var(--grey);
  min-height: 100vh;
  font-family: Arial, serif;
  color: var(--white);
  font-weight: 700;
}

#root {
  height: 90%;
  padding: 5vh 20%;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --blue: #0076fd;
  --white: #fdfdfd;
  --magent: #fc0093;
  --lime: #c2f976;
  --lightBlue: #d8e9fd;
  --grey: #eceff5;
  --black: #2f3336;
}
