.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 100%;
}

.inputText {
  font-size: 1em;
  font-weight: 600;
}

.inputText::placeholder {
  font-size: 1.5em;
}

.operations {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}